.navmenu {
	background-color: $lightest;
	position: fixed;
	//opacity: 0;
	transition: all 0.3s ease;

	&-wrap {
		position: relative;
		max-width: 1920px;
    	margin: 0 auto;
	}
	&--top {
		width: 100%;		
		left: 0;
		z-index: 1000;
		overflow: hidden;		
		padding: rem(75px) rem(35px) rem(122px);
		top: -100vh;
		height: 100vh;

		@include for-size(bp-medium) {  
			top: rem(-700px);  
			height: rem(640px);
		}

		@include for-size(bp-xlarge) {    
			height: rem(550px);
		}
		
		&.active {
			//opacity: 1;
			top: 0;
		}
		button {
			position: absolute;
			right: 26%;
			top: -40px;
		}
	}

	&--right {
		z-index: 900;
		width: rem(397px);
		height: 100%;
		top: 0;
		right: rem(-397px);
		padding: rem(44px) rem(70px);
		
		@include for-size(bp-xlarge) {  
			width: rem(486px);  
			right: rem(-486px);			
		}
		&.active {
			//opacity: 1;			
			@include for-size(bp-large) {
				right: 0;
			}
			@include for-size(bp-max-W) {
				right: calc((100vw - #{$max-W})/2);
			}
		}		
	}	

	&--list {
		font-family: $font-poppins;
		font-weight: 600;			
		&-header {
			min-height: rem(33px);
			font-size: rem(22px);	
			line-height: normal;	
			a {
				color: var(--darkest, $darkest);
				&:visited, &:active {
					color: var(--darkest, $darkest);
				}
			}	
		}
		&-item {
			display: none;
			@include for-size(bp-medium) {  
				display: list-item;
			}
			a {
				font-size: rem(18px);
				line-height: 1.94;
				color: var(--dark, $dark);
				&:visited, &:active {
					color: var(--dark, $dark);
				}
			}
		}
		&+.navmenu--list {
			margin-top: rem(35px);
		}
		&_last {
			//display: flex;
			//flex-direction: column;
			//align-items: center;
			.navmenu--list {
				//flex: 1 1 100%;
				width: 50%;
				margin: 0 auto;
				.navmenu--list-header {
					line-height: 2.95;
				}
			}
		}
	}
}
.close-button {	
	cursor: pointer;		
	border: 0;
	background: transparent;
	outline: none;
	padding: 10px;
	position: absolute;
	top: rem(44px-10px);
	right: rem(70px-10px);
	.icon-close {
		width: rem(23px);  
		height: rem(23px);
	}
}
// .ui.grid {
// 	display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-items: stretch;
//     padding: 0;
//     margin-top: -1rem;
//     margin-bottom: -1rem;
//     margin-left: -1rem;
// 	margin-right: -1rem;
// 	> * {
// 		padding-left: 1rem;
// 		padding-right: 1rem;
// 	}
// 	> .column:not(.row) {
// 		padding-top: 1rem;
// 		padding-bottom: 1rem;
// 	}
// 	> .column:not(.row), .ui.grid > .row > .column {
// 		position: relative;
// 		display: inline-block;
// 		width: 6.25%;
// 		padding-left: 1rem;
// 		padding-right: 1rem;
// 		vertical-align: top;
// 	}
// }

// .ui.grid > [class*="equal width"].row > .column, .ui[class*="equal width"].grid > .column:not(.row), .ui[class*="equal width"].grid > .row > .column {
//     display: inline-block;
//     flex-grow: 1;
// }

/* Push classes applied to the body 
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 240px;
}
.cbp-spmenu-push-toleft {
	left: -240px;
}
*/
