.navmenu {
	background-color: $lightest;
	position: fixed;
	//opacity: 0;
	transition: all 0.3s ease;

	&--top {
		width: 100%;		
		left: 0;
		z-index: 1000;
		overflow: hidden;		
		padding: rem(75px) rem(35px) rem(122px);
		top: -100vh;
		height: 100vh;

		@include for-size(bp-medium) {  
			top: rem(-700px);  
			height: rem(640px);
		}

		@include for-size(bp-xlarge) {    
			height: rem(550px);
		}
		
		&.active {
			//opacity: 1;
			top: 0;
		}
		button {
			position: absolute;
			right: 10%;
			top: 20px;
		}
	}

	&--right {
		z-index: 900;
		width: rem(397px);
		height: 100%;
		top: 0;
		right: rem(-397px);
		padding: rem(44px) rem(70px);
		
		@include for-size(bp-xlarge) {  
			width: rem(481px);  
			right: rem(-481px);
		}
		&.active {
			//opacity: 1;			
			@include for-size(bp-large) {
				right: 0;
			}
		}
		.close-button {			
			border: 0;
			background: transparent;
			outline: none;
			padding: 10px;
			position: absolute;
			top: rem(44px-10px);
			right: rem(70px-10px);
			.icon-close {
				width: rem(23px);  
				height: rem(23px);
			}
		}
	}	

	&--list {
		font-family: $font-poppins;
		font-weight: 600;		
		&-header {
			font-size: rem(22px);	
			line-height: normal;	
		}
		&-item {
			display: none;
			@include for-size(bp-medium) {  
				display: list-item;
			}
			a {
				font-size: rem(18px);
				line-height: 1.94;
				color: $dark;
			}
		}
		&+.navmenu--list {
			margin-top: rem(35px);
		}
		&_last {
			display: flex;
			flex-direction: column;
			align-items: center;
			.navmenu--list {
				flex: 1 1 100%;
				.navmenu--list-header {
					line-height: 2.95;
				}
			}
		}
	}
}

/* Push classes applied to the body 
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 240px;
}
.cbp-spmenu-push-toleft {
	left: -240px;
}
*/
