html {
    //--maxWidth: 1284px; -??
    overflow-x: hidden;
    font-family: 'Mier B', -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $lightest;
    color: $text;
    font-family: $font-raleway;
}

#root {    
    display: flex;
    flex-direction: column;
    height: 100vh;  
    main {
        flex: 1 1 auto;
        display: flex;
    }
    footer {
       flex-grow: 0;
       display: flex;
    }
}

header, main {
    padding-left: rem(20px);
    @include for-size(tablet-landscape) {    
        padding-left: rem(40px);
    }
    @include for-size(desktop) {    
        padding-left: rem(35px);
    }
}
main {
    //padding-top: rem(16px); 
    @include for-size(tablet-landscape) {    
        padding-left: rem(24px);
    }
    @include for-size(desktop) {    
        padding-top: rem(32px);
    }
}


    .page-content {
        flex: 1;
        border: 1px solid red;
    }
    .page-aside {
        flex: 0 0 481px;
        border: 1px solid blue;
    }

/*
Text meant only for screen readers.
Provides support for themes that do not bundle this CSS yet.
@see https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/
***********************************/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute ! important;
    width: 1px;
    word-wrap: normal ! important;
}

// .topnav {
//     display: flex;
//     flex-direction: column;
//     position: fixed;

//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 1030;
//     background-color: rgb(146, 165, 100);

//     transition: all 0.3s ease;

//     // width: 100%;
//     // height: 150px;
//     // left: 0;
//     // z-index: 1000;
//     // overflow: hidden;
//     // top: -150px;
// }
/* General styles for all menus */
