
:root {
    --darkest:      #4B4B4B;
    --dark:         #777777;
    --light:        #B7B7B7;
    --lightest:     #fcfaf0;
    --offwhite:     #f4f4f4;
    --orange:       #F7941D;
}



// *** Colors Names ***//
$darkest: #4B4B4B;
$dark: #777777;
$light: #B7B7B7;
$lightest: #fcfaf0;
$offwhite: #f4f4f4;
$orange: #F7941D;



// *** Roles ***//
$text: $darkest;
// $primary: $white;
// $secondary: $alabaster;
// $accent: $aquamarine;

// 
// $border: $alto;


