// *** Colors Names ***//
$darkest: #4B4B4B;
$dark: #777777;
$light: #B7B7B7;
$lightest: #f8f1e8;
$orange: #F7941D;

//$black: #000;
//$white: #fff;
// $aquamarine: #7fffd4;
// $alabaster: #f9f9f9;
// $alto: #d9d9d9;
// $mine-shaft: #333;

// *** Roles ***//
$text: $darkest;
// $primary: $white;
// $secondary: $alabaster;
// $accent: $aquamarine;

// 
// $border: $alto;
