  // ***                              ***//
 //     General c-components classes    //
// ***                             *** //

.c-button {
    @extend  .ui.button;
    color: $offwhite;
    background-color: $orange;
    font-family: $font-poppins;
    font-weight: 600;
    padding: .32rem rem(22px);
    min-height: rem(33px) !important;
}

.c-tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    @extend .padding-unset;

   // &__navigation {
        //@include for-size(bp-small) {    
           // width: 80px;
            //flex-shrink: 0; // make sure width is 80px
            // box-shadow: inset -2px 0 3px var(--cd-color-shadow);
         //}
    //}

    &__list {
        @extend .padding;
        display: flex;
        //align-items: center;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        overflow-wrap: break-word;
        -webkit-overflow-scrolling: touch;

        @include for-size(bp-large) {    
            overflow: hidden;
        }
        
    }

    &__item {
        scroll-snap-align: center;   
        position: relative;
        display: flex;    
        flex-direction: column; 
        flex-shrink: 0;   
        padding-right: 50px;
        flex: 1 0 calc(200px + 50px);
        @include for-size(bp-small) {  
            max-width: calc(180px + 50px);     
        }
        @include for-size(bp-medium) {  
            padding-right: rem(55px);            
        }
        @include for-size(bp-large) {    
            flex-shrink: 1;
            max-width: none;
            //padding-right: 55px;   
            //max-width: calc(152px + 55px);         
        }
        //@include for-size(bp-xlarge) {    
            //padding-right: 44px;
            //max-width: calc(293px + 44px);
        //}

        a {
            height: 100%;
            font-family: Poppins;
            font-size: 18px;
            font-weight: bold;
            border-bottom: 5px solid transparent; 
            padding-bottom: 1rem;
            color: var(--dark, $dark);
            &:visited, &:active {
                color: var(--dark, $dark);
            }
            &.active {  
                border-bottom: 5px solid $orange;                           
            }
        }
            
        p {
            display: none;
            @include for-size(bp-xlarge) { 
                display: initial;
                margin-top:  rem(12px); 
            }
        }
             
        //&:hover {
          //color: var(--cd-color-1);
          //background-color: hsla(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*0.89), 0.3);
        //}
    }

    .c-tabs__panel {
        //@extend .padding;
        height: 100%;
        overflow: hidden;
        --line-height-multiplier: 1.14;
        --text-vspace-multiplier: 1.25;

        padding-top: rem(65px); 
    }
    @supports (background: linear-gradient(to left, #000, #000)) { // if linear-gradient is supported
        .c-tabs::after { // subtle gradient layer on top right of the tabbed navigation - used to indicate it's possible to scroll
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 60px;
            width: 50px;
            z-index: 1;
            pointer-events: none;
            background: linear-gradient(to left, red, red);
            visibility: visible;
            opacity: 1;
            transition: opacity .3s 0s, visibility 0s 0s;
        
            // @include breakpoint(sm) {
            // display: none;
            // }
        }        
        // .cd-tabs--scroll-ended::after { // class added in JavaScript - remove the gradient layer when it's no longer possible to scroll
        //     visibility: hidden;
        //     opacity: 0;
        //     transition: opacity .3s 0s, visibility 0s .3s;
        // }
    }
}

.c-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url('./assets/img/bg/line-bg@2x.png') 0 0 ; 
    padding: calc(#{$header-H} + 46px) 75px 2rem 71px;
    @include for-size(bp-small) {    
        padding: calc(#{$header-H-small} + 46px) 75px 2rem 71px;
    }
    @include for-size(bp-medium) {    
        padding: calc(#{$header-H-medium} + 46px) 75px 2rem 71px;          
    }
    @include for-size(bp-large) {    
        padding: calc(#{$header-H-large} + 46px) 75px 2rem 71px;        
    }
    @include for-size(bp-xlarge) {    
        padding: calc(#{$header-H-xlarge} + 46px) 75px 2rem 71px;
    }    
    // &--contact {

    // }
    &--news {
        h5 {
            margin-bottom: 0;
        }
        img {
            margin-top: rem(23px);
        }
    }
}

.c-eye-conditions {
    display: flex;
    flex-wrap: wrap;
    &--item {
        flex: 0 rem(115px);
        height: 135px;
        text-align: center;       
        font-size: rem(14px);
        font-weight: 500;
        line-height: 1.2;
        @include for-size(bp-xlarge) {    
            margin-right: 45px;   
        }
        &-img {
            //border: 1px solid red;
            width: rem(115px);
            height: rem(100px);
            overflow: hidden;
            margin: auto;
            background: url('./assets/img/eye-icon-small@3x.png') no-repeat 0 0;
            &.cataract {
                background-position-x: 15px;
                background-position-y: 10px;
            }
            &.macular-degeneration {
                background-position-x: -90px;
                background-position-y: 10px;
            }
            &.dry-eye {
                background-position-x: -90px;
                background-position-y: -90px;
            }
            &.stam {
                background-position-x: -190px;
                background-position-y: -195px;
            }
        }
    }
    li:before {
        content: attr(data-content);
    }
}

.c-cards-grid {
    &.ui.grid {
        margin-bottom: 6rem;
        @include for-size(bp-large) { 
            margin-bottom: 10rem;
        }
    }

    > .column {
        padding-bottom: 0 !important;
        
        @include for-size(bp-large) { 
            width: 50% !important;
        }
        @include for-size(bp-xlarge) { 
           width: 25% !important;
        }
    }
    .ui.card {
        width: 100%;
        background: url('./assets/img/bg/line-bg@2x.png') 0 0 ;    
        border-top: 5px solid var(--orange);

        @include for-size(bp-small) {
            flex-direction: row;
            align-items: center;
        }
        @include for-size(bp-xlarge) { 
            flex-direction: column;
            padding-bottom: rem(35px);
            border-top: 5px solid transparent;

            &:hover {
                border-top-color: var(--orange);
            }
        }                       
       
        .content {
            flex: 1;                     
            display: flex;
            flex-direction: column;
            //align-items: center;
            flex-wrap: wrap;
            padding: 1rem rem(32px) 1.5rem;
           
            @include for-size(bp-large) {
                flex-direction: row;
                //align-items: center;
            }
            @include for-size(bp-xlarge) { 
                padding: 33px 33px .5rem !important;
            }

            >* {
                flex: 1 0 auto;
            }                  
        }           
    }  
}

.c-eye-conditions-list {
    @extend .c-cards-grid;
        
    .ui.card {  

        @include for-size(bp-xlarge) {
            height: calc(480px + 2.1875rem);
        }  

        .condition-img {  
            flex: 0 0 auto;
            width: rem(250px);
            height: rem(220px);
            overflow: hidden;
            margin: 1rem auto;
            display: none;    

            @include for-size(bp-small) {
                display: block;
                background: url('./assets/img/eye-icon-xl@2x.png') no-repeat 0 0;
                background-position-x: 10px;
                background-position-y: 0px;
            }           
            
            &.cataract {
                background-position-x: 10px;
                background-position-y: 0px;
            }
            &.macular-degeneration {
                background-position-x: -240px;
                background-position-y: 0;
            }
            &.dry-eye {
                background-position-x: -240px;
                background-position-y: -260px;
            }
            &.diabetic-eye-diseases {
                background-position-x: 10px;
                background-position-y: -750px;
            }
            &.glaucoma {
                background-position-x: -240px;
                background-position-y: -500px;
            }
            &.kerataconus {
                background-position-x: -240px;
                background-position-y: -750px;
            }
            &.ocuplastic-issues {
                background-position-x: -490px;
                background-position-y: -500px;
            }
            &.pterygium {
                background-position-x: -490px;
                background-position-y: -750px;
            }
            &.foreign-bodies-and-acute-injuries {
                background-position-x: -490px;
                background-position-y: -250px;
            }
                 
        }                              

        .condition-info {
            @extend .more-info;
            width: calc(100% - 2rem);
            margin-left: rem(24px);
            color: var(--darkest);
            line-height: 1.05;    
                        
            h4 {
                margin: 0;
            }
            p {                
                margin-top: 1rem;              
                display: none;

                @include for-size(bp-small) {
                    display: inline-block;
                }
            }
        }
    }  
    .content {
        @include for-size(bp-small) {
            //padding-left: 2rem !important;
            max-width: 50%;
        }
        @include for-size(bp-xlarge) {
          max-width: unset;
        }
    }
}

.c-aside-section {
    display: flex;
    &_aside {
        display: none;
        @include for-size(bp-xlarge) { 
            flex: 0 0 auto;
            display: initial;
            width: calc(293px + 44px + 4.375rem);           
        }
        .more-info {
            @extend .padding-align-left;
            &:before {
                transform: none;
            }
        }
        &.d-fx-bottom {
            .more-info {
                margin-bottom: 3rem;
            }
        }
    }
    &_content {
        flex: 1;        
        @extend .padding;
        @include for-size(bp-xlarge) { 
            padding-left: 0 !important;
        }
        .wrapped {
            padding: 48px 0;            
            max-width: 754px;
        }        
        .top-line {
            @extend .b-top;
        }
    }

}

.c-staff {
    @extend .c-img-content, .b-top;
    max-width: rem(734px);  

    .c-img-content_left {   
       padding-bottom: 0;
    }  
    @include for-size(bp-medium) {

        .c-img-content_left {   
            padding-top: rem(84px);
                &+ div {                
                    border-top: 2px solid var(--light, $light);
                }
        }  
    }
    @include for-size(bp-xlarge) { 
        .c-img-content_left {   
            padding-right: 0; 
            margin-left: -30%; 
            img {
                right: rem(42px); 
            }
        }  
    }

}

.c-staff--list {
   @extend .padding;    
    max-width: rem(1316px);
    padding-bottom: rem(42px);
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    
    >* {
        text-align: center;        
        .ui.image {
            max-width: 80%;
            margin: 0 auto;
        }
        h4 {
            margin-top: 1.25rem;
            margin-bottom: 0;
        }
    }

    @include for-size(bp-large) { 
        >* {
            width: calc(100% / 4);
            .ui.image {
                max-width: 90%;
            }
        }
    }

}

.c-img-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
         
    >* {
        padding: rem(42px) 0;
    }
  
    &_left {
        text-align: center;                
        img {            
            width: 80%;
        }
    }
    @include for-size(bp-medium) {
        flex-direction: row;
        align-items: start;
        border-top: none;

        >* {
            padding: rem(48px) 0;
        }

        &_left {
            flex-shrink: 0;           
            padding-right: rem(45px) !important;

            img {
                position: relative;  
                margin-top: 16px;
                width: auto;   
                max-width: rem(300px);                              
            } 
           
        }
    }
    @include for-size(bp-xlarge) { 

        &_left {
            img {
                max-width: 100%; 
            }
        }
                       
    }                  
}

.c-doctors {
    @extend .c-cards-grid;

    .ui.card {  

        .content {

            @include for-size(bp-small) {
                padding: 1rem;
            }

            &.extra {                              
                padding: 0;
                margin: 1rem 0;     
                display: none;    

                @include for-size(bp-small) {
                   display: block;
                   background: url('./assets/img/eye-icon-small@2x.png') no-repeat 0 0 ;   
                   width: rem(260px);
                   height: rem(56px);
                }
                @include for-size(bp-xlarge) { 
                    background-position-x: center;
                }
            }                
        }           

        .ui.image {            
            border-radius: 50%;
            width: rem(166px);
            margin: rem(21px);
            display: none;  

            @include for-size(bp-small) {
                display: block;                
            }
            @include for-size(bp-xlarge) { 
                width: rem(225px);
                margin: rem(48px) auto 0;
            }
        }

        .doc-info {
            @extend .more-info;
            width: 100%;
            margin-left: rem(24px);
            color: var(--darkest);
            line-height: 1.05;
            width: calc(100% - 2rem);
            // >* {
            //     //min-width: 170px;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     display: inline-block;
            // }
            h4 {
                margin: 0;
            }
            span {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }  
}

.c-doctor {
    @extend .c-img-content;
    
    .c-img-content_left {
        padding: 0;

        &+ div {   
            max-width: 761px;
            h1 {
                margin: 0;
                & + span {
                    text-transform: uppercase;
                }
            }
        }  
    }
}

.c-photos {
    display: flex;
    @extend .padding;  
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-wrap: break-word;
    -webkit-overflow-scrolling: touch;
    padding-top: 3rem;
    margin-bottom: rem(41px);   
  
    @include for-size(bp-large) { 
        padding-left: 0;
        padding-right: 0;
    }

   >* {
    flex: 0 0 auto;
    display: inline-block;
    height: 298px;
    background-color: #fcfaf0;
    background: url(/static/media/line-bg@2x.0f9fc544.png) 0 0;
    @include for-size(bp-medium) { 
        margin-right: rem(41px);   
    }

    img {
        height: 237px;
    }

   }  
   &--mob-only {  
       img {
        height: 100%;
       }             
        @include for-size(bp-large) { 
            display: none;
        }
    } 

    &--split {
        margin-right: 0;
    }

    &--captions {
        display: inline-block;
        width: 100%;
        padding: 1rem;
        font-weight: 600;
        text-align: center;
    } 
}

.c-info--reviews {
    p {
        position: relative;
        &:first-of-type {
            padding-top: 2rem;
        }
        .icon.quote {
            top: -1rem;
        }
        small {
            font-size: rem(14px);
            font-style: italic;
            font-weight: 500;
        }
    }
}

.c-left-113 >div {
    @extend .clearfix;
    & + img {
        margin-top: 4rem;
    }
    @include for-size(bp-xlarge) {
        float: left; 
        margin-left: -113px;
        width: 50%;
        max-width: 410px;

        & + img {
            width: 60%;
            margin-top: 8rem;
            float: right;
        }
    }
    
}