html {
    --maxWidth: 1284px;
    overflow-x: hidden;
    font-family: 'Mier B', -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $lightest;
    color: $text;
    font-family: $font-raleway;
    font-size: $font-size-base;
}


// .topnav {
//     display: flex;
//     flex-direction: column;
//     position: fixed;

//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 1030;
//     background-color: rgb(146, 165, 100);

//     transition: all 0.3s ease;

//     // width: 100%;
//     // height: 150px;
//     // left: 0;
//     // z-index: 1000;
//     // overflow: hidden;
//     // top: -150px;
// }
/* General styles for all menus */
