// *** Fonts ***//
//@import url('https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-raleway: 'Raleway', sans-serif;

// Font sizes
$font-size-base: 1.25rem;//20px;

a, a:hover, a:visited {
  color: $text;
  text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-poppins;
  font-weight: 700;
}

h1 {
  font-size: rem(40px);
}
h2 {
  font-size: rem(36px);
}
h4 {
  font-size: rem(20px);
}
h5 {
  font-size: rem(18px);
}
h6 {
  font-size: rem(16px);
  & + p {
    margin-top: 1rem;
  }
}
p {
  font-size: rem(16px);
  font-weight: 500;  
}

.super-title {  
  font-size: rem(50px);  
  line-height: .98;
  @include for-size(bp-xlarge) {    
    font-size: rem(60px);
  }
}




// target devices with min width of 768px (possibly tablets) and with wide screen
$smedium: 768px;
$screen-medium-wide: 'only screen and (min-width: #{$smedium}) and (max-device-aspect-ratio: 9 / 16)';

@media #{$screen-medium-wide} {
  body {
    font-size: 20px;
  }
}

// h1, h2 {
//   color: $primaryColor;
// }

// a {
//     text-decoration: none
// }
