@import 'colors';

// Fonts
//@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap');

$font-base: 'Poppins', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// Font sizes
$font-size-base: 20px;