  // ***                           ***//
 //      HOME page level styles      //
// ***                          *** //
.c-centred {
    margin: 0 auto;
    padding: 42px 0;
    @include for-size(bp-xlarge) { 
        max-width: rem(734px);
    }

    &--632 {
        margin-top: 1rem;
        @include for-size(bp-xlarge) {   
            margin-top: rem(102px);
            max-width: rem(632px);
            >* {
                max-width: rem(632px);
            }        
            margin-bottom: rem(53px);
        }
    }

    &--img {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_left, &_right {
            img {
                margin: 1.5rem;
                width: 80%;
                max-width: rem(250px);
            }
        }
        @include for-size(bp-medium) {
            flex-direction: row;
            align-items: start;
            //padding-top: rem(42px);

            &_left, &_right {
                flex-shrink: 0;
                padding-top: rem(24px);
                padding-right: rem(24px);
                img {
                    position: relative;  
                    margin: 0;
                    width: auto;   
                    max-width: rem(200px);                              
                } 
            }
        }
        @include for-size(bp-xlarge) { 
            padding-top: rem(20px);

            &_left, &_right {
                padding-right: 0; 
                img {
                    max-width: 100%;  
                }
            }
            &_left {                                   
                margin-left: rem(-87px);                
                    img {
                    right: rem(87px);
                }                               
            } 
            &_right {
                order: 1;
                margin-right: rem(-87px);
                img {
                    left: rem(87px);
                }
                                
            }                      
        }               
    }

    .more-info {
        margin-top: 27px;
        @include for-size(bp-mobile-only) {  
            float: right;
            clear: right; 
        }
    }
}

.s-cards {
    &--doctors.ui.cards {
        margin: 0;
        .ui.card {
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 0 0 rem(24px);
            background: url('./assets/img/bg/line-bg@2x.png') 0 0 ;    
            border-top: 5px solid var(--orange);

            @include for-size(bp-small) {
                flex-direction: row;
            }
            @include for-size(bp-xlarge) { 
                flex-direction: column;
                align-items: normal;
                width: calc((100% - 90px) / 3);
                margin: 0 0 0 rem(45px);
                padding-bottom: rem(35px);
                border-top: 5px solid transparent;

                &:first-of-type {
                    margin-left: 0;
                }
                &:hover {
                    border-top-color: var(--orange);
                }
            }                       
           
            .content {
                flex: 1;                     
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                padding: 0 rem(29px) 1rem;

                @include for-size(bp-small) {
                    padding: 1rem;
                    align-items: flex-start;
                }
                @include for-size(bp-large) {
                    flex-direction: row;
                    align-items: center;
                }
                @include for-size(bp-xlarge) { 
                    padding: 33px 33px .5rem;
                }

                >* {
                    flex: 1 0 auto;
                }

                &.extra {
                    width: rem(196px);
                    height: rem(28px);                                   
                    padding: 0;
                    margin: 1rem 0;
                    background: url('./assets/img/eye-icon-small.png') no-repeat center 0 ;       
                        
                    @include for-size(bp-small) {
                        background: url('./assets/img/eye-icon-small@2x.png') no-repeat center 0 ;   
                        width: rem(260px);
                        height: rem(56px);
                    }
                }                
            }           

            .ui.image {            
                border-radius: 50%;
                width: rem(97px);
                margin: rem(21px);

                @include for-size(bp-small) {
                    width: rem(166px);
                }
                @include for-size(bp-xlarge) { 
                    width: rem(225px);
                    margin: rem(48px) auto 0;
                }
            }

            .doc-info {
                @extend .more-info;
                margin-left: rem(25px);
                font-size: rem(20px);
                color: var(--darkest);
                line-height: 1.05;

                span {
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }        
    }
}

.s-reviews {
    @extend .padding-unset;    
    background: url('./assets/img/bg/line-bg@2x.png') 0 0 ; 
    padding-top: rem(56px);
    padding-bottom: rem(56px);

    @include for-size(bp-large) { 
        padding-left: 52px;
        padding-right: 179px;
        
    }
    .c-centred {
        @extend .padding;   
        
        p {
            position: relative; 
        }
    }
    .c-centred >p:last-child {
        text-align: right;
    }
}
