
.header {
    position: relative;
    z-index: 3;
    flex: 0 0 $header-H;
    display: flex;
    @extend .padding;
    @include for-size(bp-small) {    
        flex-basis: $header-H-small;
    }
    @include for-size(bp-medium) {    
        flex-basis: $header-H-medium;
    }
    @include for-size(bp-large) {    
        flex-basis: $header-H-large;
    }
    @include for-size(bp-xlarge) {    
        flex-basis: $header-H-xlarge;
    }    

    .logo {
        display: block;
        width: rem(47px);
        height: 100%;
        background:  url('./assets/img/logo.png') 0 0 no-repeat;
        background-size: auto 100%;
        
        @include for-size(bp-small) {    
           background-image: url('./assets/img/logo@2x.png');
           width: rem(338px);
        }
        @include for-size(bp-medium) {    
           width: rem(293px);
        }
        @include for-size(bp-large) {    
            width: rem(338px);
        }
        @include for-size(bp-xlarge) {    
            width: rem(382px);
        }
    }

    .icon-button {
        border: 0;
        background: transparent;
        outline: none;
        padding: 10px;
        position: absolute;
        height: 100%;
        right: rem(40px-10px);

        @include for-size(bp-small) {    
            right: rem(85px-10px);
        }
        @include for-size(bp-medium) {    
            right: rem(102px-10px);
        }
        @include for-size(bp-large) {    
            right: rem(397px-10px+40px);
        }
        @include for-size(bp-xlarge) {    
            right: rem(481px-10px+46px);
        }
        .icon-burger {
            width: 30px;
            height: 19px;
        }
    }
    
    
}