// *** Base ***//
@import "scss/base/colors";
@import 'scss/base/mixins';
@import 'scss/base/normalize'; //*** React.semantic-ui includes the normalize
@import 'scss/base/reset';
@import 'scss/base/semantic';
@import 'scss/base/typography';
@import 'scss/base/_base';

// *** Layout *** //
@import 'scss/layout/header';
@import 'scss/layout/footer';

// *** Components ***//
@import 'scss/components/nav-menu';


// *** Page level styles ***//
@import 'scss/pages/home';


/*


input[type="text"] {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: .5rem;  
    background: #fff;
    color: #333; 
    caret-color: #ff1100;
    -webkit-appearance: textfield;
    flex: 1;

    &:focus {
        border-color: rgba(223,225,229,0);
        box-shadow: 0 1px 4px 0 rgba(116, 117, 121, 0.28);
    }

    &:focus-within {
        background-color: #fff;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.p-wrap {
    width: 100%;    
    margin: 0 auto;
    overflow: hidden;
}
.btn-invisible {
    border: 0;
    background: 0; 
    outline: none;   
}

@media all and (min-width: 768px) {
    .p-wrap {
        padding: 0 2.5rem;
        max-width: 1407px;
    }
}
*/
